* {
  margin: 0;
}

.app__body {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header > h1 {
  color: #ce1f36;
  font-size: 2rem;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > img {
  flex: 0.05;
  margin-right: 5px;
}

.app__dropdown {
  background-color: white;
}

/* .app__header > h1 {
  flex: 0.5;
}

.app__dropdown {
  flex: 0.55;
} */

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;  
}

@media (max-width: 990px) {
  .app__body {
    flex-direction: column;
  }

  .app__header > h1 {
    color: #fc3c3c;
    font-size: 1.4rem;
  }

  .app__stats {
    flex-direction: column;    
  }

  .infoBox {
    margin-top: 10px;
    width: 100%;
  }
}

.linegraph__header {
  padding-top: 20px;
  padding-bottom: 10px;
}

.app__right > button {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ce1f36;
  color: #eff2f5;
  font-weight: 800;
}

.app__right > button:hover {
  background-color: white;
  color: #ce1f36;
}

#overlay-howto {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}